*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    min-height:100vh;
    background:#070b17;
    color:white;
}

nav{
    width:95%;
    margin:20px auto;
    padding:20px;

    border:1px solid rgba(255,255,255,.1);

    border-radius:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(255,255,255,.03);
}

.logo{
    font-size:30px;
    font-weight:bold;
}

.logo{
    color:#d86bff;
}

.menu{
    display:flex;
    align-items:center;
    gap:20px;
}

.hero{
    text-align:center;
    margin-top:100px;
}

.hero h1{
    font-size:70px;
}

.hero span{
    color:#d86bff;
}

.hero p{
    margin-top:20px;
    color:#bdbdbd;
    font-size:22px;
}

.subjects{
    width:90%;
    margin:100px auto;
}

.subjects h2{
    margin-bottom:40px;
    font-size:40px;
}

.cards{
    display:flex;
    gap:40px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:300px;

    text-decoration:none;
    color:white;

    padding:40px;

    border-radius:30px;

    background:#111827;

    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.physics{
    border:2px solid #c94dff;
    box-shadow:0 0 25px rgba(201,77,255,.3);
}

.chemistry{
    border:2px solid #3ea8ff;
    box-shadow:0 0 25px rgba(62,168,255,.3);
}

.maths{
    border:2px solid #42ff87;
    box-shadow:0 0 25px rgba(66,255,135,.3);
}

.icon{
    font-size:70px;
    margin-bottom:20px;
}

.card h3{
    font-size:40px;
    margin-bottom:20px;
}

.card p{
    color:#cfcfcf;
    margin-bottom:30px;
    line-height:1.6;
}

button{
    border:none;
    padding:15px 30px;
    border-radius:50px;

    background:#d86bff;
    color:white;

    font-size:18px;
    cursor:pointer;
}

.folder-header{
    text-align:center;
    margin-top:80px;
}

.folder-header h1{
    font-size:60px;
}

.folder-header p{
    color:#bdbdbd;
    margin-top:15px;
}

.notes-container{
    width:85%;
    margin:60px auto;
}

.note-card{

    background:#111827;

    border:1px solid rgba(255,255,255,.08);

    padding:25px;

    border-radius:20px;

    margin-bottom:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    transition:.3s;
}

.note-card:hover{

    transform:translateY(-5px);

    box-shadow:0 0 25px rgba(216,107,255,.2);
}

.note-card h3{
    color:white;
    font-size:20px;
}

.buttons{
    display:flex;
    gap:15px;
}

.view-btn,
.download-btn{

    text-decoration:none;

    padding:12px 25px;

    border-radius:30px;

    color:white;

    font-weight:bold;
}

.view-btn{
    background:#3ea8ff;
}

.download-btn{
    background:#d86bff;
}

.hero-title{
    position:relative;
    display:inline-block;
}

.author{
    position:absolute;

    right:-40px;   
    bottom:-20px;

    font-size:16px;
    font-weight:400;

    color:rgba(255,255,255,.32);

    letter-spacing:2px;

    font-style:italic;

    text-shadow:
        0 0 15px rgba(216,107,255,.15);
}

.theme-switch{
    width:90px;
    height:42px;
    position:relative;
    border:2px solid rgba(255,255,255,.2);
    border-radius:50px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    cursor:pointer;
    overflow:hidden;
    background:rgba(255,255,255,.05);
}

.switch-slider{
    position:absolute;
    left:4px;
    top:4px;
    width:30px;
    height:30px;
    border-radius:50%;
    background:#d86bff;
    transition:.45s cubic-bezier(.34,1.56,.64,1);
}

.divider{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    width:1px;
    height:60%;
    background:rgba(255,255,255,.2);
}

.sun,
.moon{
    z-index:2;
    font-size:16px;
}

.light-mode .switch-slider{
    transform:translateX(50px);
}
/* LIGHT MODE */

.light-mode{
    background:#f5f5f5;
    color:#111;
}

.light-mode nav{
    background:white;
    border:1px solid rgba(0,0,0,.1);
}

.light-mode .card,
.light-mode .note-card{
    background:white;
    color:#111;
}

.light-mode .card p,
.light-mode .hero p,
.light-mode .folder-header p{
    color:#555;
}

.light-mode .menu a{
    color:#111;
}
